{% extends "home/base.html" %}
{% block content %}
<section class="flex items-center justify-center min-h-screen bg-gray-50 dark:bg-gray-900 p-6">
    <div class="max-w-lg w-full p-8 bg-white rounded-lg shadow-lg dark:bg-gray-800 dark:border dark:border-gray-700 text-center animate__animated animate__fadeIn">
        <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 text-green-500 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-300 animate__animated animate__bounceIn">
            <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-10.707a1 1 0 00-1.414 0L9 10.586 7.707 9.293a1 1 0 10-1.414 1.414l2 2a1 1 0 001.414 0l4-4a1 1 0 000-1.414z" clip-rule="evenodd"></path>
            </svg>
        </div>
        <h1 class="text-2xl font-bold text-gray-900 dark:text-white mb-4 animate__animated animate__fadeInUp">Password Reset Successful</h1>
        <p class="text-gray-600 dark:text-gray-300 mb-8 animate__animated animate__fadeInUp animate__delay-1s">
            Your password has been successfully reset. You can now 
            <a href="{% url 'account_login' %}" class="font-medium text-blue-600 hover:underline dark:text-blue-400">log in</a> 
            with your new password.
        </p>
        <a href="{% url 'account_login' %}" class="inline-flex items-center justify-center px-6 py-3 font-medium text-white bg-blue-600 rounded-full hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-800 transition duration-300 ease-in-out animate__animated animate__fadeInUp animate__delay-2s">
            Log In Now
            <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-10h-2v5h5v-2h-3V8z" clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</section>
{% endblock %}
