<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-gray-50 dark:bg-gray-900">

    <!-- Navbar -->
    {% include 'home/navbar.html' %}

    <!-- Main Content -->
    <main class="flex-grow">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Modals -->
    {% include 'account/logout.html' %}

    <!-- Footer -->
    {% include 'home/footer.html' %}

    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>
